<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TPdeDiseño.Properties.Settings.TP_DISEÑOConnectionString"
            connectionString="Data Source=HARDKILL\SQLEXPRESS;Initial Catalog=TP-DISEÑO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TPdeDiseño.Properties.Settings.TPDiseñoConnection"
            connectionString="Data Source=HERNAN-PC\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>